<p id="notice"><%= notice %></p>

<h1>Processo Seletivos</h1>

<table>
  <thead>
    <tr>
      <th>Agenda</th>
      <th>Status</th>
      <th>Lista candidatos</th>
      <th>Nome processo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @processo_seletivos.each do |processo_seletivo| %>
      <tr>
        <td><%= processo_seletivo.Agenda %></td>
        <td><%= processo_seletivo.Status %></td>
        <td><%= processo_seletivo.Lista_candidatos %></td>
        <td><%= processo_seletivo.Nome_processo %></td>
        <td><%= link_to 'Show', processo_seletivo %></td>
        <td><%= link_to 'Edit', edit_processo_seletivo_path(processo_seletivo) %></td>
        <td><%= link_to 'Destroy', processo_seletivo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Processo Seletivo', new_processo_seletivo_path %>
