<p id="notice"><%= notice %></p>

<p>
  <strong>Nome completo:</strong>
  <%= @curriculo.Nome_Completo %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @curriculo.Data_Nascimento %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @curriculo.RG %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @curriculo.CPF %>
</p>

<p>
  <strong>Email:</strong>
  <%= @curriculo.Email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @curriculo.Telefone %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @curriculo.Logradouro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @curriculo.Cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @curriculo.Estado %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @curriculo.UF %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @curriculo.CEP %>
</p>

<p>
  <strong>Formacao:</strong>
  <%= @curriculo.Formacao %>
</p>

<p>
  <strong>Curso complementar:</strong>
  <%= @curriculo.Curso_Complementar %>
</p>

<p>
  <strong>Expprofissional:</strong>
  <%= @curriculo.ExpProfissional %>
</p>

<%= link_to 'Edit', edit_curriculo_path(@curriculo) %> |
<%= link_to 'Back', curriculos_path %>
