<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nome_Completo %>
    <%= form.text_field :Nome_Completo %>
  </div>

  <div class="field">
    <%= form.label :Idade %>
    <%= form.number_field :Idade %>
  </div>

  <div class="field">
    <%= form.label :CPF %>
    <%= form.text_field :CPF %>
  </div>

  <div class="field">
    <%= form.label :Data_de_Nascimento %>
    <%= form.date_select :Data_de_Nascimento %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
