<%= form_with(model: usuario, local: true) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rails %>
    <%= form.text_field :rails %>
  </div>

  <div class="field">
    <%= form.label :generate %>
    <%= form.text_field :generate %>
  </div>

  <div class="field">
    <%= form.label :scaffold %>
    <%= form.text_field :scaffold %>
  </div>

  <div class="field">
    <%= form.label :User %>
    <%= form.text_field :User %>
  </div>

  <div class="field">
    <%= form.label :Nome_Completo %>
    <%= form.text_field :Nome_Completo %>
  </div>

  <div class="field">
    <%= form.label :Idade %>
    <%= form.number_field :Idade %>
  </div>

  <div class="field">
    <%= form.label :CPF %>
    <%= form.text_field :CPF %>
  </div>

  <div class="field">
    <%= form.label :Data_de_Nascimento %>
    <%= form.date_select :Data_de_Nascimento %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
